[ghq]
  root = ~/.go/src/

[core]
  excludesfile = ~/.gitignore_global

[include]
    path = ~/.gitconfig.local

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Takuya TAKAHASHI
	email = taku.takahashi120@gmail.com
[pull]
	rebase = false
